.layout {
  box-sizing: border-box;
  position: relative;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 132px;
  transition: all 0.3s;
  background-color: #FFFFFF;

  @media (max-width: 670px) {
    padding-left: 0;
  }
}

.layout__sidebar {
  padding-left: 280px;
}

.layout__foolScreen {
  max-width: none;
  width: 100vw;
  padding: 0;
}

.page {
  min-height: calc(100vh - 124px);
}
