.container {
  max-width: 1268px;
  margin-bottom: 60px;
  margin-top: 38px;

  @media (max-width: 414px) {
    margin-top: 15px;
    margin-bottom: 55px;
  }
}

.container__dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  @media (max-width: 414px) {
    display: none;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(131, 146, 171, 1);
  border: none;
  background-color: white;
  cursor: pointer;
}

.text_mobile {
  display: none;
  border: none;
  background-color: white;

  @media (max-width: 414px) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: block;
    float: right;
    cursor: pointer;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0.3px;
    color: rgba(131, 146, 171, 1);
    padding-right: 20px;
    margin-top: 60px;
  }
}

.button {
  width: 26px;
  height: 26;
  cursor: pointer;
}

.botton_default {
  rotate: 0;
}

.button_active {
  rotate: 180deg;
  transition: all 0.5s linear;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: 414px) {
    margin-bottom: 0;
  }
}

.title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -0.2px;

  @media (max-width: 414px) {
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 30px;
  }
}

.track {
  display: grid;
  grid-template-columns: repeat(6, 188px);
  column-gap: 28px;
  row-gap: 20px;
  overflow: hidden;
  transition: all 0.5s linear;

  @media (max-width: 768px) {
    grid-template-columns: repeat(6, 134px);
    column-gap: 17px;
    row-gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
  }
}

.track::-webkit-scrollbar {
  height: 3px;
}

.track::-webkit-scrollbar-track {
  background: white;
}

.track::-webkit-scrollbar-thumb {
  background: white;
  width: 30%;
}

.track_default {
  height: 125px;
}

.track_active {
  height: 290px;
}
