.section {
  padding: 32px 40px 0 0;
}

.title {
  margin: 0;
  color: #060c23;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.button__dekstop {
  display: block;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
}

.button__mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .section {
    min-width: 320px;
    max-width: 720px;
    margin: 24px 20px 0;
    padding: 0;
  }

  .title {
    font-size: 24px;
    line-height: 31px;
  }

  .header {
    margin-bottom: 20px;
  }

  .button__dekstop {
    display: none;
  }

  .button__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}

.statistics {
  position: relative;
  z-index: 3;
  border-radius: 30px;
  padding: 32px;
  box-shadow: 0px 6px 16px 0px #15123314;
  background-color: #fff;
}

.statistics__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 26px;
}

.statistics__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: #060c23;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
}

.filter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.filter__text {
  margin: 0;
  color: #8392ab;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: right;
}

.filter__icon {
  margin-top: 2px;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.filter__icon_rotated {
  transform: rotate(180deg);
}

table {
  width: 100%;
}

.table_desktop {
  border-spacing: 0;
}

.table__mobile {
  display: none;
}

.tbody_desktop {
  border-spacing: 0;
}

.th_desktop {
  color: #060c23;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-align: left;
  white-space: nowrap;
  padding-bottom: 16px;
}

.th_mobile {
  color: #060c23;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-align: left;
  white-space: nowrap;
}

.td_curr_mobile {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.3px;
  text-align: right;
  white-space: nowrap;
}

.td_name_mobile {
  color: rgba(166, 179, 201, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0.3px;
}

.td_desktop {
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.3px;
}

.tr_table {
  height: 48px;
}

.td_curr_mobile {
  font-weight: 600;
}

.table_item_mobile:not(:last-child) {
  border-bottom: 1px rgba(242, 244, 248, 1) solid;
}

/* Устанавливаем отступ между строками на 6px */
table.table_item_mobile {
  border-spacing: 0 8px;
}

@media screen and (max-width: 1024px) {

  /* Измененный стиль для таблицы в мобильной версии */
  table {
    width: 100%;
    border-spacing: 0 28px;
  }

  /* Скрытая таблица в десктопной версии */
  .table_desktop {
    display: none;
  }

  /* Отображаемая таблица в мобильной версии */
  .table__mobile {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
}

.filter__list {
  position: absolute;
  top: 50px;
  right: -25px;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 150px;
  border-radius: 10px;
  padding: 8px 0;
  box-shadow: 0px 12px 24px 0px #15123321;
  background-color: #fff;
  animation: show_filter_list 0.2s ease;
}

@keyframes show_filter_list {
  from {
    height: 0;
  }

  to {
    height: 110px;
  }
}

.filter__listText {
  margin: 0;
  padding: 9px 44px 9px 16px;
  color: #2e293d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: left;
}

.filter__listText:hover {
  background-color: #f8f9fb;
  cursor: pointer;
}

.button__mobile {
  display: none;
}

.payPaidFor {
  color: rgba(0, 233, 143, 1);
}

.inProcessing {
  color: rgba(36, 60, 187, 1);
}

.notPaid {
  color: red;
}

@media screen and (max-width: 1024px) {
  .filter__text {
    display: none;
  }

  .statistics__title {
    font-size: 18px;
    line-height: 23px;
  }

  .statistics {
    padding: 24px;
  }

  .button__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
