.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 46px;
  height: 46px;
  background-color: #243cbb;
  border: none;
  border-radius: 99px;
  transition: backgroind-color 0.1s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #435cdb;
}

.button:active {
  background-color: #2743ce;
}

.button_disabled {
  background-color: #ECEFFF;
  cursor: not-allowed;
}

.button_disabled:hover {
  background-color: #ECEFFF;
}

.button_disabled:active {
  background-color: #ECEFFF;
}
