@import url('../../vendor/fonts.css');

.container {
  padding: 32px 40px 40px 0;
  box-sizing: border-box;
}

.title {
  font-size: var(--h2-font-size);
  font-weight: var(--bold);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-space);
  margin: 0;
  font-family: 'IBM Plex Mono';
}

.iconContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  column-gap: 19px;
  padding: 32px 0 29px 0;
  box-sizing: border-box;
  cursor: grabbing;
}

.iconContainer::-webkit-scrollbar {
  height: 0px;
}

.iconBtn {
  flex-shrink: 0;
  width: 124px;
  height: 124px;
  background-color: var(--default-grey-color);
  border-radius: var(--border-radius-30);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 0;
  cursor: pointer;
  font-size: var(--m-font-size);
  font-weight: var(--bold);
  font-family: inherit;
}

.iconBtn:focus {
  box-shadow: 0px 6px 16px 0px #15123314;
  background-color: var(--white);
}

.window {
  height: 330px;
  background-color: var(--hover-grey-color);
  border-radius: var(--border-radius-30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--default-dark-grey-color);
  gap: 16px;
  text-align: center;
}

.subTitle {
  margin: 0 20px 0 15px;
  font-size: var(--h3-font-size);
  font-weight: var(--bold);
  line-height: var(--h3-line-height);
  font-family: 'IBM Plex Mono';
}

.par {
  margin: 0;
  font-size: var(--l-font-size);
  font-weight: var(--bold);
  line-height: var(--h3-line-height);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 24px 20px 40px 20px;
  }

  .title {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
  }

  .iconContainer {
    padding: 20px 0 34px 0;
    column-gap: 12px;
  }

  .window {
    height: 320px;
    padding: 32px;
    box-sizing: border-box;
    gap: 20px;
  }

  .subTitle {
    margin: 0;
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
  }

  .par {
    margin: 0;
    font-size: var(--m-font-size);
    line-height: var(--m-line-height);
    letter-spacing: var(--m-letter-space);
  }
}
