.wrapper {
  padding: 40px 0 104px 0;
  margin: 0 auto;
  max-width: 1440px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-size: 48px;
  line-height: 52.8px;
  margin: 0;
  padding: 20px 0 30px 0;
  transition: all 0.2s ease-in-out;
}

.wrapper_login {
  padding: 40px 0 104px 0;
}

.title_login {
  padding: 30px 0 30px 0;
}

.noticePage {
  max-width: 1440px;
  box-sizing: border-box;
  max-height: 900px;
  width: 100%;
  padding: 0 135px;
  background-color: #243cbb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.noticePage__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.noticePage__closeIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transition: all 0.4ms ease-in-out;
}
.noticePage__closeIcon:hover {
  opacity: 0.7;
}

.noticePage__titleContainer {
  max-width: 570px;
  width: 100%;
  max-height: 280px;
  margin: 290px 0 330px;
  transition: all 0.2s ease-in-out;
}

.noticePage__titleText {
  color: #fff;
  font-family: 'IBM Plex Mono';
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1px;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.noticePage__titleIcon {
  width: 158px;
  height: 60px;
  border-radius: 14px;
  background: #435cdb;
  color: #2fa;
  font-family: 'IBM Plex Mono';
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.2px;
  padding: 9px 23px 9px 20px;
  margin: 0px 10px 0px 20px;
  position: relative;
  bottom: 7px;
  left: 2px;
}

.noticePage__titleImage {
  width: 570px;
  height: 540px;
  margin: 165px 0 200px 30px;
  transition: all 0.2s ease-in-out;
}

.noticePage__registerOrEmailImg{
  background-image: url('../../images/sendEmail.png');
  transition: all 0.2s ease-in-out;
}

.noticePage__forgotPassOnEmailImg{
  background-image: url('../../images/sendForgotPass.png');
  transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 1439px) {

  .noticePage {
    padding: 0 10px;
    min-height: 1024px;
  }

  .noticePage__titleText {
    font-size: 48px;
  }

  .noticePage__titleImage {
    width: 387px;
    height: 367px;
  }

  .noticePage__registerOrEmailImg{
    background-image: url('../../images/sendEmail768.png');
  }

  .noticePage__forgotPassOnEmailImg{
    background-image: url('../../images/sendForgotPass768.png');
  }
}


@media screen and (max-width: 1030px) {
  .noticePage {
    padding: 0 10px;
  }

  .noticePage__wrapper {
    display: flex;
    flex-direction: column-reverse;
    max-width: 616px;
    margin: 130px 77px 298px 75px;
  }

  .noticePage__titleContainer {
    max-width: 616px;
    max-height: 300px;
    margin:127px 0 0 ;
  }
  .noticePage__registerOrEmailImg{
    position: relative;
    top:53px;
    right: 115px;
  }
  .noticePage__forgotPassOnEmailImg{
    position: relative;
    top:53px;
    right: 115px;
  }

  .noticePage__titleImage {
    margin: 0;
  }

  .noticePage__titleIcon {
    width: 158px;
    height: 60px;
    border-radius: 14px;
    background: #435cdb;
    color: #2fa;
    font-family: 'IBM Plex Mono';
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.2px;
    padding: 6px 22px 10px 20px;
    margin: 0px 19px 0px 20px;
    position: relative;
    bottom: 7px;
    left: 2px;
  }
}


@media screen and (max-width: 790px) {
  .wrapper {
    padding: 60px 0 0 0;
    max-height: 1024px;
  }

  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    letter-spacing: -0.2px;
    padding: 30px 0 30px 0;
  }

  .noticePage {
    max-height: 1024px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .noticePage__forgotPassOnEmailText{
    margin-bottom: 54px;
  }

  .noticePage__closeIcon {
    top: 16px;
    right: 35px;
  }

}



@media screen and (max-width: 660px) {
  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    letter-spacing: -0.2px;
    padding: 15px 0 15px 0;
  }
  .wrapper {
    padding: 20px 0 0 0;
    max-height: 941px;
    overflow: hidden;

  }
  .title {
    padding: 15px 0 20px 0;
  }
}


