.container {
  margin: auto;
  @media (max-width: 768px) {
    padding-left: 20px;
  }
}
.wrapper {
  margin-top: 70px;

  @media (max-width: 768px) {
    padding-right: 20px;
    margin-top: 50px;
  }
}
