.page {
  /* временное решение, надеюсь на добавление flex-grow 1 в родительский компонент page */
  height: calc(100vh - 186.8px);
  margin-top: 32px;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 360px) {
  .page {
    width: 100%;
  }
}
