.page {
  height: calc(100vh - 186.8px);
  padding-top: 32px;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 360px) {
  .page {
    width: 100%;
    height: calc(100vh - 72px - 50.8px);
    padding: 0;
    overflow: auto;

    box-sizing: border-box;
  }
}
