.button {
  padding: 10px;
  color: rgb(6, 12, 35);
  background-color: rgb(242, 244, 248);

  border: none;
  border-radius: 50px;

  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  gap: 14px;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.3px;

  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: rgb(36, 60, 187);
}

.button:hover .avatar {
  background-color: rgb(36, 60, 187);
}

.button:disabled {
  opacity: .5;
  cursor: inherit;
}

.button:disabled:hover {
  color: rgb(6, 12, 35);
}

.buttonSelected {
  color: rgb(36, 60, 187);
  background-color: rgb(236, 239, 255);
}

.buttonUploader {
  color: rgb(166, 179, 201);
}

.avatarCnt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  background-color: rgb(204, 212, 224);
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.check {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(36, 60, 187, .5);
}
