.container {
  max-width: 1245px;
  @media (max-width: 768px) {
    padding-left: 20px;
  }
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-bottom: 28px;
  padding-top: 32px;
}

.title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: var(--bold);
  font-size: 32px;
  line-height: 41.6px;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 31.2px;
    margin-bottom: 25px;
    margin: 0;
  }
}

.subscription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: calc( 100vh - 230px );
  overflow-y: scroll;

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 150px;
  }
}

