.block {
  max-width: 556px;
  padding: 12px 16px 16px;
  margin-top: 16px;
  background-color: #f8f9fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.block__title {
  margin: 0 0 4px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #060c23;
}

.block__button {
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f2f4f8;
  transition: background-color 0.1s linear;
}

.block__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.block__button:active {
  background-color: #ecefff;
}

.block__button > div > svg {
  color: #a6b3c9;
  transition: color 0.1s linear;
}

.block__button:hover > div > svg {
  color: #243cbb;
}

.block__button > div > p {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #8392ab;
  transition: color 0.1s linear;
}

.block__button:hover > div > p {
  color: #243cbb;
}

.block__button_active {
  background-color: #ecefff;
}

.block__button_active > div > svg {
  color: #243cbb;
}

.block__button_active > div > p {
  color: #243cbb;
}

.block__input {
  padding: 10px 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: #f2f4f8;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #060c23;
  border: none;
}

.block__input:focus {
  outline: none;
}

.block__input::placeholder {
  color: #bfc9d9;
}

@media screen and (max-width: 1150px) {
  .block {
    width: 410px;
  }
}

@media screen and (max-width: 767px) {
  .block {
    width: 272px;
    margin-top: 0;
  }

  .block__icon {
    display: none;
  }
}
