.button {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
  min-width: 124px;
  max-width: 124px;
  height: 124px;
  color: #ccd4e0;
  border-radius: 30px;
  background-color: #f8f9fb;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.1s linear,
    box-shadow 0.1s linear;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px #15123314;
}

.button:hover .button__text {
  color: #060c23;
}

.button:hover .button__icon {
  background-color: #243cbb;
}

.button_active {
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px #15123314;
}

.button__icon {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccd4e0;
  border-radius: 59px;
  transition: background-color 0.1s linear;
}

.button__icon_active {
  background-color: #243cbb;
}

.button__text {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: #a6b3c9;
  transition: color 0.1s linear;
}

.button__text_active {
  color: #060c23;
}
