.button {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 124px;
  color: #ccd4e0;
  border-radius: 30px;
  background-color: #f8f9fb;
  border: none;
  cursor: pointer;
}

.button_active {
  background-color: #fff;
}

.button__icon {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccd4e0;
  border-radius: 59px;
}

.button__icon_active {
  background-color: #243cbb;
}

.button__text {
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: #a6b3c9;
}

.button__text_active {
  color: #060c23;
}
