.forgotPassForm {
  max-width: 770px;
  width: 100%;
  min-height: 590px;
  height: 100%;
  border-radius: 30px;
  background: #2743ce;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.forgotPassForm__form {
  max-height: 340px;
  height: 100%;
  padding-top: 50px;
  text-align: center;
  border-radius: 30px;
  background: #243cbb;
  max-width: 770px;
  width: 100%;
  box-sizing: border-box;
}

.forgotPassForm__formTitle {
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  margin: 0 auto 30px;
}

.forgotPassForm__formContainer {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 50px;
}

.forgotPassForm__footer {
  position: relative;
  margin: 0 auto;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.forgotPassForm__authImage {
  position: absolute;
  right: -160px;
  bottom: 0px;
  background-image: url('../../images/forgotPassRobot.png');
  width: 320px;
  height: 266px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 790px) {
  .forgotPassForm {
    max-width: 700px;
    min-height: 590px;
  }

  .forgotPassForm__form {
    min-height: 420px;
    padding: 50px 0 60px 0;
    max-width: 700px;
  }

  .forgotPassForm__formContainer {
    max-width: 500px;
    max-height: 140px;
  }

  .forgotPassForm__authImage {
    background-image: url('../../images/forgotPassRobot.png');
  }
}

@media screen and (max-width: 730px) {
  .forgotPassForm {
    min-height: 485px;
    max-height: 485px;
    max-width: 500px;
    border-radius: 30px 30px 0 0;
  }

  .forgotPassForm__form {
    min-height: 300px;
    padding: 40px 0 30px 0;
  }

  .forgotPassForm__formContainer {
    max-width: 320px;
    max-height: 140px;
    margin: 0 auto 40px;
  }

  .forgotPassForm__formTitle {
    display: none;
  }

  .forgotPassForm__form__menu {
    margin: 0 auto 41px;
  }

  .forgotPassForm__footerTitle {
    width: 100%;
    height: 23px;
    font-size: 15px;
    position: relative;
    top: -10px;
    transition: all 0.2s ease-in-out;
  }

  .forgotPassForm__footer {
    position: relative;
    min-height: 78px;
  }

  .forgotPassForm__authImage {
    background-image: url('../../images/forgotPassRobot360.png');
    background-repeat: no-repeat;
    width: 232px;
    height: 193px;
    bottom: 0px;
    right: -116px;
  }
}
