.authForm {
  max-width: 770px;
  width: 100%;
  max-height: 619px;
  height: 100%;
  border-radius: 30px;
  border-radius: 30px;
  background: #2743ce;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



.authForm__socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 191px;

}

.authForm__socialContainer__title {
  color: #fff;
  text-align: center;
  font-family: 'IBM Plex Mono';
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  margin: 50px 0 15px 0;
}

.authForm__socialContainer__footer{
  border-radius: 15px;
  background:#243CBB;
  color: #fff;
  max-width: 80px;
  width: 100%;
  max-height: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: -8px;
  z-index: 2;
}





.authForm__wrapper {
  width: 100%;
  max-height: 438px;
  height: 100%;
  border-radius: 30px;
  background:#243cbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}






