.content {
  height: 282px;
  padding: 24px;
  background-color: #f2f4f8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  color: #a6b3c9;
  font-weight: 600;
}

.content__title {
font-family: "IBM Plex Mono", sans-serif;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}

.content__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .content {
    width: 320px;
    height: 320px;
    padding: 32px;
  }

  .content__title {
    font-size: 18px;
    line-height: 23px;
  }
  .content__subtitle {
    font-size: 14px;
    line-height: 21px;
  }
}
