.container {
  width: 400px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 37px;
  border-radius: var(--border-radius-30);
  background-color: #FFF;
  box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "IBM Plex Mono";
  font-size: var(--h3-font-size);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--h3-line-height);
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding-top: 20px;
}
