.container {
  min-width: min(728px, 100%);
  padding: 40px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
  @media (max-width: 728px) {
    min-width: unset;
    max-width: 90vw;
    padding: 24px;
  }
}

.title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  cursor: pointer;
}

.form {
  display: grid;
  gap: 0 41px;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 728px) {
    width: 100%;
    grid-template-columns: 46% 46%;
    gap: 0 8%;
    overflow: hidden;
  }
}

.label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  letter-spacing: .3px;
}

.required:after {
  content: '*';
  color: red;
}

.input {
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px var(--focus-grey-color) solid;
  @media (max-width: 728px) {
  }
}

.input::placeholder {
  font-size: 13px;
  font-weight: 400;
  color: var(--default-dark-grey-color);
}

.buttons {
  margin-top: 35px;
  padding: 5px 0;
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: stretch;
  @media (max-width: 728px) {
    grid-column: 1 / -1;
    justify-self: stretch;
  }
}

.clear-button {
  min-height: 46px;
  border: none;
  background: none;
}

.add-button {
  min-height: 46px;
  flex-basis: 58%;
}
