.container {
  position: relative;
}

.button {
  min-width: 80px;
  min-height: 40px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--default-grey-color);
  border-radius: 5px;
}

.panel {
  display: none;
  position: absolute;
  flex-direction: column;
}

.panel-active {
  display: flex;
}
