
  .navLinkBar{
    display: flex;
  }

  .navLinkBar_menu{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background:#314DD8;
    max-width: 300px;
    max-height: 60px;
    height: 100%;
    display: flex;
    margin: 0 20px 28px 0;
  }
  .navLinkBar_menu:last-child {
    margin-right: 0px;
  }

  .navLinkBar_menuItem{
    margin: 10px 30px 10px 10px ;
  }
  .navLinkBar_menuItem:last-child {
    margin-right: 10px;
  }

