.icon_blue {
  color: #243cbb;
  transition: color 0.2s linear;
}

.icon_blue:hover {
  cursor: pointer;
  color: #435cdb;
  transition: all 0.5s linear;
}

.icon_disabled {
  color: #ccd4e0;
  transition: all 0.5s linear;
}
