.container {
  background-color: #F2F4F8;
  border-radius: 30px;
  width: 836px;
  padding-top: 34px;
  padding-left: 32px;
  padding-right: 32px;
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: var(--bold);
  line-height: 130%;
  margin: 0;
}

.filter {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
}

.filter__text {
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: right;
  color: #8392ab;
}

.filter__icon {
  margin-top: 2px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.filter__icon_rotated {
  transform: rotate(180deg);
}

.filter__list {
  position: absolute;
  top: 50px;
  right: -25px;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 12px 24px 0px #15123321;
  animation: show_filter_list 0.2s ease;
}

@keyframes show_filter_list {
  from {
    height: 0;
  }
  to {
    height: 110px;
  }
}

.filter__listText {
  margin: 0;
  padding: 9px 44px 9px 16px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #2e293d;
}

.filter__listText:hover {
  background-color: #f8f9fb;
  cursor: pointer;
}

.table {
  width: 100%;
  border-spacing: 0 26px;
}

.table__header {
  font-family: "Open Sans";
  font-size: var(--m-font-size);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--m-line-heights);
  letter-spacing: var(--m-letter-space);
  text-align: left;
}

.table_text {
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.3px;
}

.status_success {
  color: #00E98F;
  font-weight: var(--bold);
}

.status_fail {
  color: var(--error-red-color);
  font-weight: var(--bold);
}
