.container {
  position: relative;
  width: 367px;
  background-color: rgba(248, 249, 251, 1);

  @media (max-width: 512px) {
    width: 272px;
    
  }
}

.input {
  box-sizing: border-box;
  width: inherit;
  height: 40px;
  margin-top: 4px;
  padding-right: 35px;
  padding-left: 16px;
  font-family: 'Open sans', sans-serif;
  font-size: 13px;
  font-weight:400;
  line-height:19.5px;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s linear;
  text-align: left;
}

.button {
  position: absolute;
  top: 13px;
  right: 10px;
}


