.button {
  width: 260px;
  height: 70px;
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 23px;
  border-radius: 8px;
  border: 1.5px solid rgba(6, 12, 35, 0.30);
  transition: background-color 0.1s linear;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button:hover {
  border: 1.5px solid #433FB8;
}

.button:active {
  border: 1.5px solid #433FB8;
}

.button_chosen {
  border: 1.5px solid #433FB8;
}

.button_blue {
  color: #fff;
  background-color: #243cbb;
}

.button_blue:hover {
  background-color: #435cdb;
}

.button_blue:active {
  background-color: #2743ce;
}

.button_blue_disabled {
  background-color: #ecefff;
}

.button_blue_disabled:hover {
  background-color: #ecefff;
}

.button_blue_disabled:active {
  background-color: #ecefff;
}

.button_grey {
  color: #060c23;
  background-color: #e4e9f1;
}

.button_grey:hover {
  color: #243cbb;
}

.button_grey:active {
  background-color: #ecefff;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.button_grey_disabled {
  background-color: #e4e9f1;
  color: #a6b3c9;
}

.button_grey_disabled:hover {
  color: #a6b3c9;
}

.button_grey_disabled:active {
  background-color: #e4e9f1;
  box-shadow: none;
}

.tarif_name {
  font-family: "Century Gothic";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  letter-spacing: -0.2px;
  margin: 0;
}

.tarif_price {
  font-family: "Century Gothic";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: 2px;
  color: #433FB8;
  margin: 0;
}

.tarif_currency {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.2px;
  margin: 0;
  padding-left: 5px;
}

.price_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
