.section {
  position: relative;
  background-color: #f2f4f8;
  border-radius: 30px;
}

.mailings {
  position: relative;
  padding: 32px;
  z-index: 3;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 6px 16px 0px #15123314;
}

.mailing__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mailing__title {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: IBM Plex Mono;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #060c23;
}

.filter {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
}

.filter__text {
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: right;
  color: #8392ab;
}

.filter__icon {
  margin-top: 2px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.filter__icon_rotated {
  transform: rotate(180deg);
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 32px 40px 40px;
}

.about__title {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #060c23;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 29px;
}

table {
  width: 100%;
  border-spacing: 0 28px;
}

th {
  text-align: left;
}

.table__header {
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #060c23;
  margin-bottom: 12px;
}

td {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #060c23;
}

.filter__list {
  position: absolute;
  top: 50px;
  right: -25px;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 12px 24px 0px #15123321;
  animation: show_filter_list 0.2s ease;
}

@keyframes show_filter_list {
  from {
    height: 0;
  }
  to {
    height: 110px;
  }
}

.filter__listText {
  margin: 0;
  padding: 9px 44px 9px 16px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #2e293d;
}

.filter__listText:hover {
  background-color: #f8f9fb;
  cursor: pointer;
}

.table__mobile {
  display: none;
}

.button__mobile {
  display: none;
}

@media screen and (max-width: 1150px) {
  .buttons {
    flex-direction: column;
    row-gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .mailing__title {
    font-size: 18px;
    line-height: 23px;
  }

  .mailings {
    padding: 24px;
  }

  .table {
    display: none;
  }

  .mailing__header {
    margin-bottom: 32px;
  }

  .table__mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f2f4f8;
  }

  .row__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
  }

  .row__name {
    margin: 0;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #060c23;
  }

  .row__id {
    margin: 0;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #a6b3c9;
  }

  .row__messages {
    margin: 0;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #060c23;
  }

  .row__info {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
  }

  .row__iconBlock {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
  }

  .row__status {
    margin: 0;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
  }

  .button__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about {
    padding: 32px 24px;
    row-gap: 20px;
  }

  .buttons {
    row-gap: 12px;
  }
}
