.sidebar {
  position:absolute;
  top: 5px;
  left: 5px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navlink {
  display: flex;
  align-items: center;
  stroke: #ccd4e0;
  text-decoration: none;
  color: inherit;
}

.navlink:hover {
  stroke: #243cbb;
}
