.sidebar {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 70px;
  height: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-x: hidden;
  transition: 1s;
}

.sidebar:hover {
  width: 240px;
}

.sidebar:hover .navtext {
  opacity: 1;
  visibility: visible;
}

.title {
  margin-left: 12px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 15px;
  width: max-content;
  min-width: 100%;
  stroke: #ccd4e0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  overflow-x: hidden;
}

.navlink:hover {
  stroke: #243cbb;
  color: #243cbb;
}

.navtext {
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  white-space: nowrap;
  overflow-x: hidden;
}
