.sidebar {
  position:absolute;
  top: 5px;
  left: 5px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.icon-path {
  stroke: #ccd4e0;
}

.icon-path:hover {
  stroke: #243cbb;
}
