.section {
  padding: 32px 40px 0 0;
}

.title {
  margin: 0;
  font-family: IBM Plex Mono;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #060c23;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.button {
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
}
