@import url('./vendor/fonts.css');

body {
  box-sizing: border-box;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page {
  margin-left: 46px;
  flex: 1;
}

:root {
  --default-grey-color: #F8F9FB;
  --hover-grey-color: #F2F4F8;
  --focus-grey-color: #E4E9F1;
  --disabled-grey-color: #CCD4E0;
  --default-dark-grey-color: #A6B3C9;
  --placeholder-grey-color: #BFC9D9;

  --default-blue-color: #243CBB;
  --hover-blue-color: #435CDB;
  --active-blue-color: #2743CE;
  --disabled-blue-color: #ECEFFF;

  --primary-text-color: #060C23;
  --default-green-color: #22FFAA;
  --error-red-color: #FF5555;

  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --h4-font-size: 18px;
  --l-font-size: 16px;
  --m-font-size: 14px;
  --s-font-size: 13px;
  --xs-font-size: 12px;

  --h2-line-height: 41.6px;
  --h3-line-height: 31.2px;
  --h4-line-height: 23.4px;
  --m-line-height: 21px;
  --s-line-height: 19.5px;
  --xs-line-height: 18px;


  --bold: 600;
  --semi-bold: 500;
  --normal: 400;

  --h2-letter-space: -0.2px;
  --h5-letter-spacce: 0.5px;
  --m-letter-space: 0.3px;
  --s-letter-space: 0.2px;

  --border-radius-185: 185px;
  --border-radius-50: 50px;
  --border-radius-30: 30px;
  --border-radius-15: 15px;
  --border-radius-10: 10px;
  --border-radius-5: 5px;
}
