.title {
  margin-top: 30px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-text {
  font-family: "IBM Plex Mono", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: -.2px;
}

.greenbutton {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.filter {
  margin-bottom: 35px;
  display: flex;
  gap: 6px;
  justify-content: space-between;
}

.panel-buttons {
  display: flex;
  gap: 21px;
  align-items: center;
}

.panel-button {
  display: flex;
  min-width: 112px;
  min-height: 40px;
  border-radius: 5px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  color: var(--primary-text-color);
  letter-spacing: .3px;
  border: none;
  background: none;
}

.panel-button:hover {
  background-color: var(--default-blue-color);
  color: #fff;
}

.page-control {
  display: flex;
  margin-bottom: 52px;
  justify-content: space-between;
  align-items: center;
}

.page-selector-label {
  margin-left: auto;
  margin-right: 15px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .3px;
}
