.container {
  position: sticky;
  max-width: 404px;
  box-sizing: content-box;
  padding-right: 28px;
  min-height: 450px;
}

.title {
  font-family: "IBM Plex Mono";
  font-size: var(--h3-font-size);
  font-style: normal;
  font-weight: var(--bold);
  line-height: var(--h3-line-height);
  margin: 0;
}

.comment{
  margin: 0;
  width: 100%;
  height: 40px;
  padding-bottom: 23px;
}

.comment__line {
  margin: 0;
  font-family: "Open Sans";
  font-size: var(--s-font-size);
  font-style: normal;
  font-weight: var(--normal);
  line-height: var(--s-line-height);
  text-align: left;
}

.promo {
  width: 404px;
  box-sizing: border-box;
  border-radius: var(--border-radius-30);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-top: 133px;
  background-color: var(--hover-grey-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 147px;
  z-index: -1;
}

.balans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 59px;
}
