.header {
  width: 100%;
  padding: 32px 32px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  background-color: #D8E8F3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-family: 'IBM Plex Mono';
  font-size: var(--l-font-size);
  font-weight: var(--semi-bold);
  line-height: var(--m-line-height);
  color: var(--primary-text-color);
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px
}

.buttons {
  display: flex;
  gap: 12px;
}
