.header {
  width: 100%;
  height: auto;
  padding: 0 32px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  font-family: 'IBM Plex Mono';
  font-size: var(--l-font-size);
  font-weight: var(--semi-bold);
  line-height: var(--m-line-height);
  color: var(--primary-text-color);
}

.status {
  display: none;
  color: var(--default-blue-color);
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: var(--normal);
  line-height: 150%;
  letter-spacing: var(--m-letter-space);
}

.chevronButton {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px
}

.buttons {
  display: flex;
  gap: 12px;
}

.moreButton {
  display: none;
}

/* Почти все стили из компонента dialogs-sidebar. Можно выделить в отдельный компонент */

.sidebar {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
  box-sizing: content-box;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #D7DEEA;
  border-radius: 17px;
  border: 4px solid #fff;
}

.cntO {
  width: 330px;
}

.sidebarO {
  right: 0;
}

.role {
  margin-top: 4px;
  color: var(--default-dark-grey-color);
  font-family: 'Open sans';
  font-size: var(--s-font-size);
  font-weight: var(--normal);
  line-height: var(--s-line-height);
  letter-spacing: var(--m-letter-space);
}

.button {
  width: 31px;
  height: 40px;
  position: absolute;
  bottom: 300px;
  left: -31px;
  background-color: var(--default-blue-color);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 12px;
  height: 14px;
  background-image: url(../../dialogs-sidebar/img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s;
}

.arrowOpened {
  transform: rotate(180deg);
}

@media screen and (max-width: 360px) {
  .header {
    background-color: #fff;
    padding: 17px 20px 16px;
    box-sizing: border-box;
    box-shadow: 0px 2px 18px 0px rgba(21, 18, 51, 0.05);
    transition: all 2s;
  }

  .headerOpened {
    height: calc(100vh - 72px - 50.8px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .userInfo {
    flex-direction: column;
    gap: 2px;
  }

  .nameOpenedHeader {
    margin-top: 16px;
  }

  .status {
    display: block;
  }

  .avatar {
    display: none;
  }

  .chevronButton {
    display: block;
    transform: rotate(90deg);
  }

  .chevronButtonOpenedHeader {
    position: absolute;
    top: 0;
    left: 0;
  }

  .searchButton {
    display: none;
  }

  .playButtonHide {
    display: none;
  }

  .moreButton {
    display: block;
  }

  .moreButtonOpenedHeader {
    position: absolute;
    top: 0;
    right: 0;
  }

  .trashButton {
    display: none;
  }
}
