.layout {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

.section {
  width: 100%;
  position: relative;
  background-color: #f2f4f8;
  border-radius: 30px;
  max-width: 924px;
}

.creation {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: #fff;
  padding: 32px 40px;
  border-radius: 30px;
  box-shadow: 0px 6px 16px 0px #15123314;
}

.navigation {
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  justify-content: end;
  padding: 32px 40px;
}

.firstStep {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  margin-bottom: 16px;
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #060c23;
}

.block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.block__title {
  margin: 0;
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #060c23;
}

.activation {
  max-width: 556px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.activation__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px 10px 8px;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fb;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #060c23;
  transition:
    background-color 0.1s linear,
    color 0.1s linear;
}

.activation__button:hover {
  cursor: pointer;
  color: #243cbb;
}

.activation__button:active {
  background-color: #ecefff;
}

.activation__button_disabled {
  color: #bfc9d9;
}

.activation__button_disabled:hover {
  color: #bfc9d9;
  cursor: not-allowed;
}

.activation__button_disabled:active {
  color: #bfc9d9;
  background-color: #f8f9fb;
}

.funnels {
  margin: 4px 0 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 8px 0;
  border-radius: 10px;
  box-shadow: 0px 12px 24px 0px #15123321;
  animation: 0.2s show__funnels ease;
}

@keyframes show__funnels {
  from {
    height: 0;
  }
  to {
    height: 124px;
  }
}

.funnels__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px 8px;
  background-color: #fff;
  border: none;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #2e293d;
  transition: background-color 0.1s linear;
}

.funnels__button:hover {
  background-color: #f8f9fb;
  cursor: pointer;
}

.activation__block {
  display: flex;
  flex-direction: column;
}

.textarea {
  position: relative;
}

.textarea__input {
  max-width: 264px;
  height: 78px;
  padding: 12px 12px 28px 12px;
  scroll-padding: 28px;
  resize: none;
  border: none;
  border-radius: 10px;
  background-color: #f8f9fb;
}

.textarea__input::placeholder {
  color: #a6b3c9;
}

.textarea__input:focus {
  outline: 1px solid #22ffaa;
}

.textarea__footer {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: IBM Plex Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #a6b3c9;
}

.teaxtarea__icons {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.textarea__settings {
  position: absolute;
  background-color: #fff;
  z-index: 99;
  top: -60px;
  left: 36px;
  max-height: 40px;
  border-radius: 5px;
  box-shadow: 0px 12px 24px 0px #15123321;
  animation: show_textarea_settings 0.2s ease;
}

@keyframes show_textarea_settings {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.textarea__settings > svg {
  padding: 8px 12px;
  border-right: 1px solid #f2f4f8;
}

.textarea__settings > svg:last-child {
  border-right: none;
}

.block__icons {
  max-width: 556px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
}

.navigation__exit {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: #8392ab;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input__name {
  width: 100%;
}

.select {
  width: 264px;
  padding: 10px 8px;
  background-color: #f2f4f8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #bfc9d9;
}

.select__text {
  margin: 0;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
}

.select__icon {
  transition: transform 0.1s linear;
  cursor: pointer;
}

.select__icon_rotated {
  transform: rotate(180deg);
}

.select__list {
  position: absolute;
  z-index: 200;
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  box-shadow: 0px 6px 16px 0px #15123314;
  border-radius: 10px;
  animation: show_select__list 0.2s ease;
}

@keyframes show_select__list {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}

.select__listElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: #000;
  transition: background-color 0.1s linear;
}

.select__listElement:hover {
  background-color: #f8f9fb;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .inputs {
    flex-direction: column;
    row-gap: 8px;
  }

  .select__block {
    width: 100%;
  }

  .select__list {
    z-index: 999;
    background-color: #fff;
  }

}

@media screen and (max-width: 1020px) {
  .select {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 900px) {
  .creation {
    padding: 16px 16px;
  }
}

@media screen and (max-width: 767px) {
  .firstStep {
    column-gap: 12px;
  }

  .creation {
    padding: 24px 24px 50px;
  }

  .block__icons {
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
